
<tr><td colspan="2" class="remove-border"></td></tr>
<tr><td colspan="2" class="remove-border"></td></tr>
<tr>
    <td class="remove-border text-right" colspan="2">
        ............................
    </td>
</tr>
<tr>
    <td class="remove-border font-small">তারিখ : .......................................</td>
    <td class="remove-border text-right font-small">আবেদনকারীর স্বাক্ষর</td>
</tr>
<tr><td colspan="2" class="remove-border"></td></tr>
<tr>
    <td class="remove-border"><img src="~/images/shahel-sign-001.jpg" style="width: 160px; height: 40px;" /></td>
    <td class="remove-border  text-right"><img src="~/images/rubel-sign-final.jpg" style="width: 140px; height: 40px;" /></td>
</tr>
<tr>
    <td class="remove-border"> ..........................................</td>
    <td class="remove-border  text-right">..............................</td>
</tr>
<tr>
    <td class="remove-border font-small">সাধারণ সম্পাদকের সীল ও স্বাক্ষর</td>
    <td class="remove-border text-right font-small">সভাপতির সীল ও স্বাক্ষর</td>
</tr>