@{
//Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Prescription</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        .remove-border {
            border: 0px solid white;
        }
    </style>
</head>
<body>
    <table>
        <tr>
            <td colspan="2">Doctor Info</td>
            <td colspan="3">Logo</td>
            <td colspan="2">Hospital Info</td>
        </tr>
        <tr>
            <td colspan="2">Patient Name : </td>

            <td colspan="2">Age : </td>

            <td colspan="2">Sex : </td>

            <td colspan="2">Date : </td>
        </tr>
    </table>
    <table style="height: 400px">
        <tr>
            <td>C/C</td>
            <td class="remove-border"><i>Rx</i></td>
            <td class="remove-border"></td>
            <td class="remove-border"></td>
            <td class="remove-border"></td>
            <td class="remove-border"></td>
            <td class="remove-border"></td>
            <td class="remove-border"></td>
            <td class="remove-border"></td>
            <td class="remove-border"></td>
        </tr>
    </table>
    <table>
        <tr>
            <td colspan="8" style="text-align: center">.................. দিন পর দেখা করবেন.................. পরীক্ষার রিপোর্ট সহ</td>
        </tr>
        <tr>
            <td colspan="8" style="text-align: center;font-weight: bold">বিঃ দ্রঃ প্রতিবার সাক্ষাতের সময় ব্যবস্থাপত্র এবং প্রয়োজনীয় কাগজপত্র সঙ্গে আনবেন</td>
        </tr>
        <tr style="background-color: lightgray">
            <td colspan="3" style="font-weight: bold">নিজে সুস্থ্য থাকুন</td>
            <td colspan="3" style="text-align: right;font-weight: bold">অপরকে সুস্থ্য থাকার পরামর্শ দিন</td>
        </tr>
    </table>
</body>
</html>
