@model HealthCare.Data.Models.Member;
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <title>Bootstrap Example</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <iframe src="http://docs.google.com/gview?url=http://www.tutorialspoint.com/javascript/javascript_tutorial.pdf&embedded=true" width="100%" height="375" type='application/pdf' style="margin-top:150px;">
        </iframe>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 text-center">Front Part</div>
                <div class="col-md-6 text-center">Back Part</div>
            </div>
            @*<div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-4 text-right">
                                <img src="~/assets/layouts/layout/img/logo-final-001.png" style="width: 40px; height: 40px;" />
                            </div>
                            <div class="col-md-8">
                                <span style="font-size: smaller; color:forestgreen">অসহায় ও দরিদ্র মানুষের সেবায় নিয়োজিত...</span>
                                <br /><span style="font-weight: bolder; color: red; font-size:medium">ইসলামপুর যুব মানব কল্যাণ সংগঠন</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <span style="font-size: medium; font-weight:bold; color:darkcyan; background-color:linen">
                                    ID NO : @Model.RegNo.ToString().PadLeft(5, '0')
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <div class="frame">
                                    @if (Model.ImageName != null)
                                    {
                                        <img src="~/uploads/img/@Model.ImageName" alt="" />
                                    }
                                    else
                                    {
                                        <img src="~/images/no-image.png" alt="" />
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <span style="font-size: large; font-weight:bolder; color:cornflowerblue"> @Model.Name</span> <br />
                                <span style="font-size:medium;color:darkcyan"> @Model.DesignationString</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-4 text-right">
                                <img src="~/assets/layouts/layout/img/logo-final-001.png" style="width: 40px; height: 40px;" />
                            </div>
                            <div class="col-md-8">
                                <span style="font-size: smaller; color:forestgreen">অসহায় ও দরিদ্র মানুষের সেবায় নিয়োজিত...</span>
                                <br /><span style="font-weight: bolder; color: red; font-size:medium">ইসলামপুর যুব মানব কল্যাণ সংগঠন</span>
                            </div>
                        </div>
                    </div>
                </div>*@
        </div>
    </body>
</html>
<link href="~/css/report.css" rel="stylesheet" />
