@model HealthCare.Data.Models.PatientAdmission
@{

}
<style>
</style>

<div id="vc_app">
    <div class="row">
        <div class="col-md-6">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-red-sunglo">
                        <i class="icon-settings font-red-sunglo"></i>
                        <span class="caption-subject bold uppercase"> Admission</span>
                    </div>
                </div>
                <div class="portlet-body form">
                    <form action="javascript:;" data-vv-scope="frmModel">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Patient</label>
                                        <select id="patientId" v-model="model.patientId" class="form-control select2">
                                            <option v-for="t in patientSli" :value="t.value">{{t.text}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Ref. Doctor</label>
                                        <select v-model="model.doctorId" class="form-control select2">
                                            <option v-for="t in doctorSli" :value="t.value">{{t.text}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Admission Date</label>
                                        <div class="input-group input-medium date date-picker" data-date-format="dd-mm-yyyy">
                                            <input type="text" class="form-control" v-model="model.admissionDate">
                                            <span class="input-group-btn">
                                                <button class="btn default" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Admission Time</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control timepicker timepicker-no-seconds" v-model="model.admissionTime">
                                            <span class="input-group-btn">
                                                <button class="btn default" type="button">
                                                    <i class="fa fa-clock-o"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Bed No</label>
                                        <select v-model="model.doctorId" class="form-control select2">
                                            <option v-for="t in bedSli" :value="t.value">{{t.text}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label>C/O</label>
                                    <div class="form-group">
                                        <input type="text" class="form-control" v-model="model.careOf" name="careOf">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Discharge Date</label>
                                        <div class="input-group input-medium date date-picker" data-date-format="dd-mm-yyyy">
                                            <input type="text" class="form-control" v-model="model.dischargeDate" readonly>
                                            <span class="input-group-btn">
                                                <button class="btn default" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label>Discharge Note</label>
                                    <div class="form-group">
                                        <input type="text" class="form-control" v-model="model.remarks">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-actions right">
                            <button type="button" class="btn default" @@click="BackList()">Back To List</button>
                            <button type="button" class="btn blue" v-on:click="Save">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-red-sunglo">
                        <i class="icon-settings font-red-sunglo"></i>
                        <span class="caption-subject bold uppercase"> Payment</span>
                    </div>
                </div>
                <div class="portlet-body form">
                    <form action="javascript:;" v-on:submit.prevent="Save" data-vv-scope="frmModel">
                        <div class="form-body">

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="//cdn.jsdelivr.net/npm/sortablejs@1.8.4/Sortable.min.js"></script>
    <script>
        Vue.use(VueTables.ClientTable);
        Vue.use(VeeValidate);
        var app = new Vue({
            el: '#vc_app',
            data: {
                patientSli: [],
                doctorSli: [],
                bedSli: [],
                model: {
                    id: '',
                    patientId: '',
                    admissionDate: null,
                    admissionTime: null
                },
            },
            mounted: function () {                
                this._LoadModel(@Model.Id);
                this._LoadSli();
            },
            methods: {
                _LoadModel: function (id) {
                    helper.get('/PatientAdmission/Get', { id: id }, (response) => {
                        debugger;
                        this.model = response;
                    });
                },
                _LoadSli: function () {
                    helper.get('/PatientAdmission/GetSli', null, (response) => {
                        this.patientSli = response.patientSli;
                        this.doctorSli = response.doctorSli;
                        this.bedSli = response.bedSli;
                    });
                },
                BackList: function () {
                    window.location.href = '/PatientAdmission';
                },
                Save: function () {
                    debugger;
                    this.model.patientId = $("#patientId").val();
                    if (!helper.isNullOrEmpty(this.model.patientId)) {
                        helper.post('/PatientAdmission/save', this.model, (response) => {
                            if (helper.isSuccess(response)) {
                                
                            }
                        });
                    } else {
                        $.notify('Required fields', 'error');
                    }
                },
                //Delete: function (id) {
                //    helper.confirmation('Are you sure?', () => {
                //        if (!helper.isNullOrEmpty(id)) {
                //            helper.post('/department/delete', { id: id }, (response) => {
                //                if (helper.isSuccess(response)) {
                //                    this._LoadModelList();
                //                }
                //            });
                //        }
                //    });
                //},
            }
        });

    </script>
}
