@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@using System
@model UserViewModel

<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-gift"></i>User Setup
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse"> </a>
            <a href="#portlet-config" data-toggle="modal" class="config"> </a>
            <a href="javascript:;" class="reload"> </a>
            <a href="javascript:;" class="remove"> </a>
        </div>
    </div>

    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form class="form-horizontal" role="form" method="post" asp-controller="User" asp-action="Save">
            <div class="form-body">
                <h3 class="form-section">User Info</h3>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label">User Name</label>
                            <div class="col-md-9">
                                @Html.TextBoxFor(m => m.Id, new { @class = "hidden" })
                                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control placeholder-no-fix", @autocomplete = "off", @placeholder = "User Name", @autofocus = "autofocus" })
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                            <label class="col-md-3 control-label">Email</label>
                            <div class="col-md-9">
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                @if (string.IsNullOrEmpty(Model.Id))
                {

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-3 control-label">Password</label>
                                <div class="col-md-9">
                                    <input asp-for="Password" class="form-control" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-3 control-label">Re-type Your Password</label>
                                <div class="controls">
                                    <div class="col-md-9">
                                        <input asp-for="ConfirmPassword" class="form-control" />
                                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                }
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="RoleId" class="col-lg-3 col-sm-3 control-label"></label>
                            <div class="controls">
                                <div class="col-md-6">
                                    <select asp-for="RoleId" asp-items="@Model.Roles" class="form-control">
                                        <option>Please select</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">

                    </div>
                </div>
            </div>

            <div class="form-actions">
                <div class="row">
                    <div class="col-md-9"> </div>
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" class="btn green">Save</button>
                                <a type="button" class="btn default" asp-controller="User" asp-action="Manage">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
